[Unit]
Description="/etc/rc.local Compatibility"

[Service]
Type=oneshot
ExecStart=/etc/rc.local
StandardInput=tty
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
